<!DOCTYPE html><html lang="en"><head><base href="/static/">
    <meta charset="utf-8">
    <title>HNDK-Paper Checker</title>
  <link rel="stylesheet" href="styles.8a9d04b8a8dd80d1.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.8a9d04b8a8dd80d1.css"></noscript></head>
  <body>
    <app-root></app-root>
  <script src="runtime.1c0bbf24b90668c7.js" type="module"></script><script src="polyfills.fd98c4a4e0a1fce5.js" type="module"></script><script src="scripts.79dbe02e698e542d.js" defer></script><script src="main.30b93dac25862da5.js" type="module"></script>

</body></html>